.Card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;

  & > div:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  @media (min-width: 37.5rem) {
    flex-direction: row;

    & > div:not(:last-child) {
      margin-right: 1.5rem;
      margin-bottom: 0;
    }
  }
}
