.Card {
  padding: 1rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem 0px rgba($color: #000, $alpha: 0.2);

  &--infected {
    border-bottom: 0.25rem solid #247ba0;
  }

  &--recovered {
    border-bottom: 0.25rem solid #70c1b3;
  }

  &--deaths {
    border-bottom: 0.25rem solid #ff1654;
  }

  &__title {
    margin-bottom: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__count {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
  }

  &__date {
    margin-bottom: 0.5rem;
  }

  &__info {
    font-weight: 700;
  }
}
