.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  font-size: 0.875rem;
  border-top: 0.0625rem solid #ddd;

  p {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  a {
    color: #333;
  }
}
